.solution-card{
	float:left;
	padding:auto;
	text-align: center;
}

.solution-icon{
	padding:5px;
	width:80%;
	height:auto;
}

.card-title{
	text-transform: capitalize;
	font-size: 20px;
}

.card-text{
	font-size: 17px;
	text-align: left;
}

.height-match-parent{
	height: 100%;
}
