.solution-card{
	float:left;
	padding:auto;
	text-align: center;
}
.solution-icon{
	width: 80%;
	height: 80%;
}
.card-title{
	text-transform: capitalize;
	font-size: 20px;
}

.card-text{
	font-size: 17px;
	text-align: left;
}

.height-match-parent{
	height: 100%;
}
