.plugin-redoc-image{
	width: 56px;
	height: 56px;
	color: white;
	border-radius: 50%;
	padding: 10px 12px 12px 10px;
	border-color: #46b8da;
}
#btn-redoc-image{
	position: fixed;
	bottom: 72px;
	right: 77px;
}
.plugin-redoc-summary{
	width: 56px;
	height: 56px;
	color: white;
	border-radius: 50%;
	padding: 10px 12px 12px 10px;
	border-color: #46b8da;
}
#btn-redoc-summary{
	position: fixed;
	bottom: 82px;
	right: 15px;
}
.plugin-redoc-speaker{
	width: 56px;
	height: 56px;
	color: white;
	border-radius: 50%;
	padding: 10px 12px 12px 10px;
	border-color: #46b8da;
}
#btn-redoc-speaker{
	position: fixed;
	bottom: 10px;
	right: 87px;
}
.plugin-redoc-start{
	width: 56px;
	height: 56px;
	color: white;
	border-radius: 50%;
	padding: 10px 12px 12px 10px;
	border-color: #46b8da;
}
#btn-redoc-start{
	position: fixed;
	bottom: 20px;
	right: 25px;
}
.modal-img{
	width: 100%;
	border-width: 8px; 
	border-style: solid; 
	border-color: white;
	max-width: 500px;
	max-height: 500px;
}
.btn-redoc{
	background-color: #64818D;
	border-color: #64818D;
}.btn-redoc:hover{
	background-color: #516973;
}
.btn-plugin-detail{
	background-color: #93AAB3;
	border-color: #93AAB3;
}.btn-plugin-detail:hover{
	background-color: #B7CFCE;
	border-color: #B7CFCE;
}
.btn-disable-bluegray{
	background-color: #B7CFCE;
	border-color: #B7CFCE;
}
