<html>
<head>
  <meta charset="utf-8">
  <title>ReDoc</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">

  <link href="../static/css/style.css" rel="stylesheet">
  <link href="../static/css/plugin.css" rel="stylesheet">
  <link href="../static/css/article.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="../static/img/logo-icon.png"/>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/freelancer.min.css" rel="stylesheet">

</head>

<body>
  <div class="header" id="header">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light shadow-sm">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="../static/img/logo-full.png" height="25" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">INTRO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/product">PRODUCT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/api">API</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/demo">DEMO</a>
            </li>
            <li class="nav-item"><a class="nav-link"></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="section section-article">
    <!-- Code for article -->
    <section class="bg-light mb-0" id="article_content" style="background-image: url('../static/img/article-bg.jpg')">
      <div class="container" style="padding-top: 50pt">
        <h1 class="text-center text-uppercase">Trump reportedly loves McDonald's because he has a 'longtime fear' of being poisoned</h2>
        <hr class="star-dark mb-5">
        <div class="row" style="padding-bottom: 10pt">
          <div class="row"></div>
          <p style="font-size: 9pt">by June Kyu</p>
          <em> /  Aug.02.2018</em>
        </div>

        <div class="row">
          <div class="col-lg-8">
            <p class="lead" style="font-size: 16pt">President Donald Trump defended White House press secretary Sarah Huckabee Sanders in a tweet on Monday, saying that a restaurant that had asked her to leave over the weekend looked dirty.</p>

            <p class="lead" style="font-size: 16pt">Sanders said on Saturday that she was asked to leave The Red Hen, a restaurant in Lexington, Virginia, because she worked for Trump . One of the owners told the Washington Post that it was Trump's policies, which she called " inhumane and unethical ," that had prompted them to deny service to Sanders.</p>

            <p class="lead" style="font-size: 16pt">"The Red Hen Restaurant should focus more on cleaning its filthy canopies, doors and windows (badly needs a paint job) rather than refusing to serve a fine person like Sarah Huckabee Sanders. I always had a rule, if a restaurant is dirty on the outside, it is dirty on the inside!" Trump tweeted on Monday.</p>

            <p class="lead" style="font-size: 16pt">Trump's concerns about restaurant cleanliness have been well-documented. His longstanding love for fast food is tied to a fear of being poisoned, Michael Wolff writes in "Fire and Fury: Inside the Trump White House."</p>
              
            <p class="lead" style="font-size: 16pt">Trump "had a longtime fear of being poisoned, one reason why he liked to eat at McDonald's — nobody knew he was coming and the food was safely premade," Wolff reports.</p>

            <p class="lead" style="font-size: 16pt">The president's go-to McDonald's order was two Big Macs, two Filet-o-Fish sandwiches, and a large chocolate shake, according to former campaign manager Corey Lewandowski and top Trump campaign aide David Bossie.</p>

            <p class="lead" style="font-size: 16pt">"Like an amazing professional athlete who has a routine that they do all the time when they're ready for a big game," Trump "would consistently do the same things,"Lewandowski told Business Insider's Allan Smith.</p>

            <p class="lead" style="font-size: 16pt">Trump has previously applauded fast-food chains for their cleanliness.</p>

            <p class="lead" style="font-size: 16pt">"One bad hamburger, you can destroy McDonald's. One bad hamburger and you take Wendy's and all these other places and they're out of business," Trump said at a 2016 town hall. "I like cleanliness, and I think you're better off going there than maybe someplace that you have no idea where the food is coming from.”</p>
          </div>
        </div>
        <div class="text-center mt-4">
          <div class="btn btn-xl btn-outline-dark" href="#">
            <!-- <i class="fa fa-download mr-2"></i> -->
            Example Article
          </div>
        </div>
      </div>
    </section>

  </div>
  <hr>

  <div class="footer text-center" id="footer">
    <div class="container">
      ©ReDoc of Golden Beer. 2018.06-
    </div>
  </div>

  <!-- Plug-in Button -->
  <div class="bundle bundle-plugin">
    <div id="bundle-plugin-detail" class="bundle bundle-plugin-detail">
      <div id="btn-redoc-image">
        <button type="button" class="btn btn-primary plugin-redoc plugin-redoc-image">
          <img class="img-width-big" src="../static/img/icon-picture.png"></img>
        </button>
      </div>
      <div id="btn-redoc-summary">
        <button type="button" class="btn btn-primary plugin-redoc plugin-redoc-summary">
          <img class="img-width-big" src="../static/img/icon-filter.png"></img>
        </button>
      </div>
      <div id="btn-redoc-speaker">
        <button type="button" class="btn btn-primary plugin-redoc plugin-redoc-speaker">
          <img class="img-width-big" src="../static/img/icon-speaker.png"></img>
        </button>
      </div>
    </div>
    <div id="btn-redoc-start">
      <button type="button" class="btn btn-primary plugin-redoc plugin-redoc-start">
        <img class="img-width-big" src="../static/img/logo-icon-white.png"></img>
      </button>
    </div>
  </div>


  <!-- JavaScript -->
  <script type="text/javascript" src="../static/js/plugin.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
